#header-img {
    width: 100%;
}

.middle {
    text-align: center;
}

#itinerary img {
    width: 50%;
}

.itinerary-title {
    font-family: 'Anonymous Pro', monospace;
    color: #000080;
}

.gift-title {
    font-family: 'Anonymous Pro', monospace;
    color: #000080;
}

.size-img {
    width: 70%;
}